@import 'http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css';
.fa {
    display: inline-block;
    text-align: center;
}

.fa-vibrate-y {
    animation: fa-vibrate-y 1.5s infinite ease-in;
}

@keyframes fa-vibrate-y {
    0% {
        transform: translateY(-10%);
    }
    50% {
        transform: translateY(10%);
    }
    100% {
        transform: translateY(-10%);
    }
}